@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    10175 Park Meadows Drive #5-206<br />
    Lone Tree, Colorado 80124<br />
    <abbr title="Phone">P:</abbr>
    303-704-7734
</address>

<address>
    <strong>Email:</strong> <a href="mailto:kwest23@msudenver.edu">kwest23@msudenver.edu</a><br />
</address>
